= form_for [@place, @workout, @exercise_item] do |f|
  - if @exercise_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise_item.errors.count, "error")} prohibited this exercise_item from being saved:"
      %ul
        - @exercise_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :exercise
    = f.select :exercise_id, @place.exercises.map {|ex| [ex.name, ex.id, {'data-need-weight' => ex.need_weight?}] }
  .field
    = f.label :repeats_count
    = f.number_field :repeats_count
  .field{'data-scope'=>'weight'}
    = f.label :weight
    = f.number_field :weight
  .field
    = f.label :time
    %span
      (in seconds. Optional)
    = f.number_field :time
  .actions
    = f.submit 'Save'
