= form_for([@place, @exercise]) do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2
        = pluralize(@exercise.errors.count, "error")
        prohibited this exercise from being saved:
      %ul
        - @exercise.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :muscle_group
    %br/
    = f.select :muscle_group, Exercise::MUSCLE_GROUPS
  .field
    = f.label :values_type
    %br
      %div
        Only times - we just need track times of execution. Example: Push ups, squats, etc
      %div
        Times and weights - we need know weight of inventory and times of execution: dumbbells, barbell
    %br
    = f.select :values_type, Exercise::VALUES_TYPES
  %br/
  .actions
    = f.submit
