%p#notice= notice
%p
  %strong Name:
  = @exercise.name
%p
  %strong Values type:
  = @exercise.values_type
= link_to 'Edit', edit_place_exercise_path(@place, @exercise)
|
\#{link_to 'Back', place_exercises_path(@place)}
